# upstream backend {
#     hash $remote_addr consistent;
#     server 192.168.1.2:9000;
#     server 192.168.1.3:9000;
#     server 192.168.1.4:9000;
#     server 192.168.1.5:9000;
# }

# server {
#     listen 9000;
#     proxy_connect_timeout 5s;
#     proxy_timeout 30s;
#     proxy_pass backend;
# }
